@model ISV.FrontEnd.Models.RegisterModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Sign up now</h3>
                    <p>Fill in the form below to get instant access:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
            <div class="form-bottom">
                @using (Html.BeginForm("Register", "Security", FormMethod.Post, new { @class = "registration-form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, new { @class = "sr-only" })
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-username form-control", @placeholder = "Phone number...", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "sr-only" })
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-username form-control", @placeholder = "Email...", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, new { @class = "sr-only" })
                        @Html.PasswordFor(model => model.Password, new { @class = "form-username form-control", @placeholder = "Password...", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "sr-only" })
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-username form-control", @placeholder = "Confirm password...", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                    <button type="submit" class="btn">Sign me up!</button>
                }
            </div>
        </div>

    </div>
</div>
